
<div class="main">
<div class="content">
<div class="container_12">





<article id="ccr-article">
  <h1><%= @location.name %></h1>

  <div class="article-like-comment-date">
    Posted by on <%= @location.created_at %>

  </div> <!-- /.article-like-comment-date -->
  <div class="article-description">
   <%= @location.description%>
</div>
  <%= @location.content.html_safe %>

</article> <!-- /#ccr-single-post -->




<section id="ccr-article-related-post">
  <div class="ccr-gallery-ttile">
    <span class="bottom"></span>
    <p>Related Post</p>
  </div> <!-- .ccr-gallery-ttile -->
  <ul>
    <% @related_locations.each do |location| %>
        <li>

          <div class="ccr-thumbnail">
            <%=link_to home_location_path(location.id) do%>
                <img src=<%= image_path(location.image) %>  alt="" height="150px" width="400px">
            <% end %>
            <p><%= link_to "Read More", home_location_path(location.id)%></p>
          </div>
          <h5><%= link_to location.name, home_location_path(location.id)%></h5>
        </li>
    <% end %>
  </ul>

</section> <!-- /#ccr-article-related-post -->

<section class="bottom-border"></section> <!-- /#bottom-border -->


 </div>
 </div>
 </div>
