<div class="main">
  <div class="content">
    <div class="container_12">
      <div class="grid_9">
        <h3><%=@province.name  %></h3>

        <% @locations.each do |location|%>
            <div class="blog">
              <time datetime=""><%= location.created_at.day %><br>
                <%  month_string = ""
                    case location.created_at.day
                    when 1
                        month_string="Jan"
                    when 2
                      month_string= "Feb"
                    when 3
                      month_string="Mar"
                    when 4
                      month_string="Apr"
                    when 5
                      month_string="May"
                    when 6
                      month_string="June"
                    when 7
                      month_string="July"
                    when 8
                      month_string= "Agu"
                    when 9
                      month_string= "Sep"
                    when 10
                      month_string= "Oct"
                    when 11
                      month_string= "Nov"
                    when 12
                      month_string= "Dec"
                   end
                %>
                    <%= month_string %></time>
              <div class="extra_wrapper">
                <div class="text1 upp"><%= location.name %> </div>
                <div class="links">Posted by <%= location.author %></div>
              </div>
              <div class="clear"></div>
              <img src="<%= image_path(location.image) %>" alt="" class="img_inner fleft" width="350px" height="220px">
              <div class="extra_wrapper">
                <p class="text1"><%= location.description %> </p>
                <%=link_to "Details", home_location_path(location.id), :class =>"btn" %>
              </div>
            </div>
        <% end %>
        <div class="flickr_pagination" >
          <%= will_paginate @locations,:container => false %>
        </div>
      </div>
      <%= render 'layouts/sidebar' %>
      <div class="clear"></div>
    </div>
  </div>
  </div>
